body {

    background: url(/);
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0;

}



/* Styles pour le header */
header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;



}

.logov {
    display: flex;
    justify-content: center;
    /* Centrer horizontalement */
    align-items: center;
    /* Centrer verticalement */
    height: 500px;
    /* Hauteur du conteneur */
}

.logov img {
    max-height: 100%;
    /* Assurez-vous que l'image ne dépasse pas la hauteur du conteneur */
    max-width: 100%;
    /* Assurez-vous que l'image ne dépasse pas la largeur du conteneur */
    height: auto;
    /* Pour maintenir les proportions de l'image */
    width: auto;
    /* Pour maintenir les proportions de l'image */
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.main-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    /* Assure que la barre de navigation occupe toute la largeur */
}

.main-navigation .logo img {
    height: 40px;
}

.main-navigation .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navigation .menu ul li {
    display: inline-block;
    margin-left: 20px;
    position: relative;
}

.main-navigation .menu ul li:first-child {
    margin-left: 0;
}

.main-navigation .menu ul li:last-child {
    margin-left: auto;
    /* Pour aligner le bouton de connexion à droite */
}

.main-navigation .menu ul li:last-child a {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.main-navigation .menu ul li:last-child a:hover {
    background-color: #ccc;
}


.main-navigation .menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
    padding: 10px;
}

.main-navigation .menu ul li:hover>.dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    min-width: 200px;
}

.dropdown-menu ul {
    padding: 10px;
    margin: 0;
}

.dropdown-menu ul li {
    margin-bottom: 10px;
}

.dropdown-menu ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.dropdown-menu ul li a:hover {
    color: #999;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 10px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    /* Aligne les éléments en haut */
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.horaire,
.avis {
    flex-basis: calc(40% - 100px);
    /* Prend 50% de la largeur avec une marge de 10px entre les deux */
    margin-bottom: 20px;
}

.horaire {
    margin-right: 100px;
    /* Marge entre les deux éléments */

}

.separator {
    width: 1px;
    background-color: #fff;
    margin: 0 100px;
    /* Marge autour de la barre */
}

textarea {
    width: 50%;
    height: 50px;
    margin-bottom: 10px;
}

.etoiles {
    margin-bottom: 10px;
}

.etoile {
    cursor: pointer;
    font-size: 20px;
}

button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ccc;
}

/* Styles spécifiques à la page de connexion */
.login-section {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #ccc;


}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}